.graph-timeline-outer {
  height: 100%;
  .axis {
    color: #dbdee2;
  }

  svg {
    position: relative;
    z-index: 2;
    overflow: visible;
    g {
      &.tick {
        text {
          cursor: pointer;
          &:hover {
            & + rect {
              display: block;
            }
          }

          & + rect {
            display: none;
            pointer-events: none;
            fill: rgba(255, 255, 255, 0.05);
            text-anchor: middle;
          }
        }
        &.__active {
          rect {
            display: block;
          }
        }
      }
      &.__chart {
        .__circle,
        line {
          cursor: pointer;
        }
      }
      &.__scrollbar {
        > .__handle {
          cursor: grabbing;
        }
      }
    }
  }
}
.graph-timeline {
  position: relative;
  overflow: hidden;
  background: #ffffff;
  .axis {
    color: #dbdee2;
  }

  > .yAxis {
    position: absolute;
    top: 0;
    left: 0;
    .ant-tree {
      font-size: 12px;
      .ant-tree-treenode {
        padding: 0;
      }
    }
    .ant-tree-title {
      display: flex;
      align-items: center;
      height: 24px;
      font-size: 12px;
    }
    // 滑动条放到左边
    .ant-tree-list-scrollbar-vertical {
      left: 0px !important;
    }
    .ant-tree-list-holder {
      margin-left: 8px;
    }
    .gt-y-label {
      display: inline-block;
      min-width: 10rem;
      max-width: 11rem;
    }
    .gt-y-icon {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }
    .gt-y-line {
      flex: 1 1;
      border-bottom: 1px dashed #dbdee2;
    }
  }
}
